# ########################################################################### #
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ########################################################################### #
# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ########################################################################### #
# Django stuff:
*.log
*.pot

# ########################################################################### #
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# ########################################################################### #
# Unit test / coverage reports

# ########################################################################### #
# Developer
.mr.developer.cfg
.project
.pydevproject

# ########################################################################### #
# project specific
*.sqlite3
/vote_boat_site/static/vote_boat
/vote_boat_site/templates/vote_boat

