{% extends "vote_boat_site/base.html" %}

{% block title %}
Vote Boat : Create Poll
{% endblock %}

{% block content %}
<!-- 
<styles>

    #add-poll-form {
    
    
    }
Hey brian I think to get the list to do the correct thing it needs to be something like:

ul.create-poll {
    

}    
    
</styles>
 -->
<h1>Create a new vote poll:</h1>
<form id="add-poll-form" class="form-vote-boat" method="post" action="/new_poll/">
    {% csrf_token %}
    <ul class="ul.create-poll">
        <li>Title {{  poll.title }}</li>
        <li>Description {{  poll.description }}</li>
        <li>Username {{  user.username }}</li>
        <li>Email {{  user.email }}</li>        
    </ul>
    <input type="submit" name="submit" value="Create Poll" />
</form>
<br/>
{% endblock %}


