{% extends "vote_boat_site/base.html" %}
{% load staticfiles %}

{% block title %}
Vote Boat : Create Poll
{% endblock %}

{% block styles-plus %}
<link rel="stylesheet" type="text/css" href='{% static "vote_boat/css/style.css" %}' />
{% endblock %}

{% block content %}
<article>
    <div class="nav-ideas">
        Create Poll
        <span class="right-arrow"></span>
        <a onclick="form.submit();">Add Ideas</a>
        <!--         TODO: be able to submit by clicking Add Ideas -->
        <span class="right-arrow"></span>        
        Poll Settings
        <span class="right-arrow"></span>
        Share        
    </div> 
    <form id="form_vote_boat" class="form_vote_boat" method="post"> {% csrf_token %}       
        <div>        
            <h1 id="new_poll"> New Poll </h1>
            <label>
                <span>Title</span>{{ poll.title }}
            </label>
            <label>
                <span>Description</span>{{ poll.description }}
            </label>
            <label>
                <span>Username</span>{{ user.username }}
            </label>
            <label>
                <span>Email</span>{{ user.email }}            
            </label>
            <input class='button' type="submit" name="submit" value="Create Poll" />
        </div>
    </form>
</article>
{% endblock %}





